# Sample ENV setup Variables (YAML)
# Copy this file and update as needed.
#
#   $ cp env.sample .env
#
# WARNING
# Do not include this new file in source control
# Github Credentials
# Generate your personal access token here: https://github.com/settings/tokens
# No additional permission required, this is just to avoid github api rate limits
github:
  username: USERNAME
  token: TOKEN

# EXTENSION PUBLICATION DOMAIN
domain: https://domain.com/extensions

# EXTENSIONS DIRECTORY
extensions_dir: extensions

# EXTENSIONS PUBLICATION DIRECTORY
public_dir: public

# STANDARD HOSTS EXTENSIONS LIST
stdnotes_extensions_list: standardnotes-extensions-list.txt
